name: Rust

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        projects: ["functions",
          "guessing_game",
          "hello_cargo",
          "hello-world",
          "ownership",
          "variables",
          "structs",
          "rectangles",
          "enum-pattern-matching"]

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --manifest-path=./projects/${{ matrix.projects }}/Cargo.toml --verbose
    - name: Run tests
      run: cargo test --manifest-path=./projects/${{ matrix.projects }}/Cargo.toml --verbose
